---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
// import { Image } from "astro:assets";
// import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
	<main class="container mx-auto p-4">

		<div class="mb-50">
			<p>Hej</p>
		</div>

		<section class="bananParallax mx-20 bg-amber-100 min-h-200">

			<div class="overflow-hidden h-screen bg-amber-400 grid grid-cols-12">
				<div class="banan1 col-start-2 h-20 w-20 bg-amber-950">
				<div class="banan2 col-start-2 h-20 w-20 bg-blue-950">

				</div>
				</div>

			</div>

		</section>

		<section class="">
			<h1> Køb in med omtanke </h1>

			<p>I gennemsnittet ender vi med at smide  25% af maden vi køber ud.</p>
			<p>Det vil svare til at hver fjerede indkøbsvogn man ser i supermarkedet bliver smidt ud.</p>

			<div class="staggeranimation flex flex-row gap-10" id="stagger">
				<img src="/src/assets/images/cart.png" alt="">
				<img src="/src/assets/images/cart.png" alt="">
				<img src="/src/assets/images/cart.png" alt="">
				<img src="/src/assets/images/cart.png" alt="" class="grayscale">
			</div>

		</section>

			<section class="max-h-150 bg-blue-100">
				<div class="flex flex-row tidslinje max-h-100">
					<ul class="overflow-auto w-auto pr-25">
						<li class="li1 activeTime" id="li1"><h1>2008</h1></li>
						<li class="li2" id="li2"><h1>2009</h1></li>
						<li class="li3" id="li3"><h1>2010</h1></li>
						<li class="li4" id="li4"><h1>2011</h1></li>
						<li class="li5" id="li5"><h1>2012</h1></li>
						<!-- <li class="li6" id="li6"><h1>2013</h1></li>
						<li class="li7" id="li7"><h1>2014</h1></li>
						<li class="li8" id="li8"><h1>2015</h1></li> -->
					</ul>

					<div class="flex flex-row li1_content" id="li1_content">
						<img src="/src/assets/images/cart.png" alt="">
						<div class="flex flex-col gap-10">
							<h1>Begyndelsen</h1>
							<p>Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook gruppe, men voksede hurtigt til en anderkendt frivilligt og selvstændigt non-profit. 
							Selina Juul var motiveret af hendes fortid i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til Danmark tog hun derfor kampen op i mod madspild. </p>
						</div>
					</div>

					<div class="flex flex-row li2_content inactiveBox" id="li2_content">
						<img src="/src/assets/images/cart.png" alt="">
						<div class="flex flex-col gap-10">
							<h1>Begyndelsen 222</h1>
							<p>Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook gruppe, men voksede hurtigt til en anderkendt frivilligt og selvstændigt non-profit. 
							Selina Juul var motiveret af hendes fortid i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til Danmark tog hun derfor kampen op i mod madspild. </p>
						</div>
					</div>

					<div class="flex flex-row li3_content inactiveBox" id="li3_content">
						<img src="/src/assets/images/cart.png" alt="">
						<div class="flex flex-col gap-10">
							<h1>Begyndelsen 333</h1>
							<p>Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook gruppe, men voksede hurtigt til en anderkendt frivilligt og selvstændigt non-profit. 
							Selina Juul var motiveret af hendes fortid i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til Danmark tog hun derfor kampen op i mod madspild. </p>
						</div>
					</div>

					<div class="flex flex-row li4_content inactiveBox" id="li4_content">
						<img src="/src/assets/images/cart.png" alt="">
						<div class="flex flex-col gap-10">
							<h1>Begyndelsen 444</h1>
							<p>Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook gruppe, men voksede hurtigt til en anderkendt frivilligt og selvstændigt non-profit. 
							Selina Juul var motiveret af hendes fortid i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til Danmark tog hun derfor kampen op i mod madspild. </p>
						</div>
					</div>

					<div class="flex flex-row li5_content inactiveBox" id="li5_content">
						<img src="/src/assets/images/cart.png" alt="">
						<div class="flex flex-col gap-10">
							<h1>Begyndelsen 555</h1>
							<p>Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook gruppe, men voksede hurtigt til en anderkendt frivilligt og selvstændigt non-profit. 
							Selina Juul var motiveret af hendes fortid i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til Danmark tog hun derfor kampen op i mod madspild. </p>
						</div>
					</div>

				</div>
			</section>

			<style>

				.activeTime{
					color: red;
					cursor: default;

				}

				.activeBox{
					display: block;
				}

				.inactiveBox{
					display: none;
				}

				h1{
					font-size: 4rem;
				}



				ul::-webkit-scrollbar{
					display: none;
					scroll-behavior: smooth;
				}
				
				li{
					cursor: pointer;
					
					h1{
						font-size: 5rem;
					}
				}

			</style>

		
<script>
// Parallax Banan Scroll JS/Motion One

scroll(animate(".banan1", { y: [100, 2000], opacity: [0, 100] }), {
		target: document.querySelector(".banan1"),
	});

scroll(animate(".banan2", { y: [200, 100], opacity: [100, 0] }), {
		target: document.querySelector(".banan2"),
	});

// Tidslinje JS
	const list1 = document.getElementById("li1");
	const list2 = document.getElementById("li2");
	const list3 = document.getElementById("li3");
	const list4 = document.getElementById("li4");
	const list5 = document.getElementById("li5");
	const list6 = document.getElementById("li6");
	const list7 = document.getElementById("li7");
	const list8 = document.getElementById("li8");
	
	const list1box = document.getElementById("li1_content");
	const list2box = document.getElementById("li2_content");
	const list3box = document.getElementById("li3_content");
	const list4box = document.getElementById("li4_content");
	const list5box = document.getElementById("li5_content");
	const list6box = document.getElementById("li_6content");
	const list7box = document.getElementById("li_7content");
	const list8box = document.getElementById("li_8content");

	list1.addEventListener("click", () => {
		list1.classList.add("activeTime");
		list1box.classList.remove("inactiveBox");
		// list1box.classList.add("animate-fade-down", "animate-ease-out");
		list2.classList.remove("activeTime");
		list2box.classList.add("inactiveBox");
		list3.classList.remove("activeTime");
		list3box.classList.add("inactiveBox");
		list4.classList.remove("activeTime");
		list4box.classList.add("inactiveBox");
		list5.classList.remove("activeTime");
		list5box.classList.add("inactiveBox");
		list6.classList.remove("activeTime");
		list6box.classList.add("inactiveBox");
		list7.classList.remove("activeTime");
		list7box.classList.add("inactiveBox");
		list8.classList.remove("activeTime");
		list8box.classList.add("inactiveBox");

	});

	list2.addEventListener("click", () => {
		list2.classList.add("activeTime");
		list2box.classList.remove("inactiveBox");
		list1.classList.remove("activeTime");
		list1box.classList.add("inactiveBox");
		list3.classList.remove("activeTime");
		list3box.classList.add("inactiveBox");
		list4.classList.remove("activeTime");
		list4box.classList.add("inactiveBox");
		list5.classList.remove("activeTime");
		list5box.classList.add("inactiveBox");
		list6.classList.remove("activeTime");
		list6box.classList.add("inactiveBox");
		list7.classList.remove("activeTime");
		list7box.classList.add("inactiveBox");
		list8.classList.remove("activeTime");
		list8box.classList.add("inactiveBox");
	});

	list3.addEventListener("click", () => {
		list3.classList.add("activeTime");
		list3box.classList.remove("inactiveBox");
		list1.classList.remove("activeTime");
		list1box.classList.add("inactiveBox");
		list2.classList.remove("activeTime");
		list2box.classList.add("inactiveBox");
		list4.classList.remove("activeTime");
		list4box.classList.add("inactiveBox");
		list5.classList.remove("activeTime");
		list5box.classList.add("inactiveBox");
		list6.classList.remove("activeTime");
		list6box.classList.add("inactiveBox");
		list7.classList.remove("activeTime");
		list7box.classList.add("inactiveBox");
		list8.classList.remove("activeTime");
		list8box.classList.add("inactiveBox");
	});

	list4.addEventListener("click", () => {
		list4.classList.add("activeTime");
		list4box.classList.remove("inactiveBox");
		list1.classList.remove("activeTime");
		list1box.classList.add("inactiveBox");
		list2.classList.remove("activeTime");
		list2box.classList.add("inactiveBox");
		list3.classList.remove("activeTime");
		list3box.classList.add("inactiveBox");
		list5.classList.remove("activeTime");
		list5box.classList.add("inactiveBox");
		list6.classList.remove("activeTime");
		list6box.classList.add("inactiveBox");
		list7.classList.remove("activeTime");
		list7box.classList.add("inactiveBox");
		list8.classList.remove("activeTime");
		list8box.classList.add("inactiveBox");
	});

	list5.addEventListener("click", () => {
		list5.classList.add("activeTime");
		list5box.classList.remove("inactiveBox");
		list1.classList.remove("activeTime");
		list1box.classList.add("inactiveBox");
		list2.classList.remove("activeTime");
		list2box.classList.add("inactiveBox");
		list3.classList.remove("activeTime");
		list3box.classList.add("inactiveBox");
		list4.classList.remove("activeTime");
		list4box.classList.add("inactiveBox");
		list6.classList.remove("activeTime");
		list6box.classList.add("inactiveBox");
		list7.classList.remove("activeTime");
		list7box.classList.add("inactiveBox");
		list8.classList.remove("activeTime");
		list8box.classList.add("inactiveBox");
	});



// Stagger animation Motion JS
import { animate, stagger, inView, scroll } from "motion";
	inView( "#stagger" , () =>{
		animate(
		".staggeranimation img",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(0.5, { startDelay: 0.5 },	
			 )
			
		}
		);
	})


	

</script>
	</main>
</MainLayout>
